.feedback-form {
  width: 408px;
  height: 296px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
}

.feedback-form label {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border 250ms ease-in-out;
  outline: none;
}

.feedback-form input:hover {
  border: 1px solid #000000;
}

.feedback-form input:focus {
  border: 1px solid #808080;
}

.feedback-form textarea {
  width: 360px;
  max-height: 80px;
  margin-top: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-family: Montserrat;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  outline: none;
  transition: border 250ms ease-in-out;
}

.feedback-form textarea:hover {
  border: 1px solid #000000;
}

.feedback-form textarea:focus {
  border: 1px solid #808080;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding: 8px 16px;
  transition: background-color 250ms ease-in-out;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
